body {
  background-color: rgb(235, 250, 252);
}
#ct {
  text-align: center;
}
a {
  text-decoration: none;
  text-align: center;
  float: left;
}

#bu {
  width: 500px;
  height: 100px;
  text-align: center;
  background-image: url(images/Grass_block.png);
  color: white;
  font-size: large;
}

#end {
  float: inline-end;
}
#Home:hover {
  background-color: rgb(6, 138, 17);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(1, 167, 139);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(109, 108, 108);
}