body {
    background-color: rgb(234, 255, 252);
}
#welcome {
    color: red;
    text-align: center;
    font-size:50px; 
}
.p {
    text-align: center;
}
a {
    text-decoration: none;
}
#button {
    width: 300px;
    height: 35px;
    background-color: rgb(221, 255, 253);
}
#Home:hover {
  background-color: rgb(6, 138, 17);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(1, 167, 139);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(109, 108, 108);
}