#Home:hover {
  background-color: rgb(105, 105, 105);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(168, 168, 168);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(109, 108, 108);
}
#h1t {
    text-align: center;
    font-size: 250%;
    color: rgb(0, 136, 248);
}

#winiso {
    text-align: center;
    font-size: 120%;
    text-decoration: none;

}

button {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
}

#bt {
    font-size: large;
    text-align: left;
}